<div class="home-container">
    <section class="hero">
      <h1>¡Bienvenido a IronBox Gym! 🥊</h1>
      <p>Donde los verdaderos campeones se forjan</p>
      <button routerLink="/catalogo">Ver productos</button>
    </section>

    <section class="info">
      <div class="info-box">
        <img src="assets/images/boxeo-entrenamiento.jpg" alt="Entrenamiento">
        <h2>Entrena como un profesional</h2>
        <p>Únete a nuestras clases y mejora tu técnica con entrenadores expertos.</p>
      </div>
      <div class="info-box">
        <img src="assets/images/equipamiento-boxeo.jpg" alt="Equipamiento">
        <h2>Catálogo de Equipamiento</h2>
        <p>Compra guantes, vendas, sacos y mucho más en nuestra tienda online.</p>
        <button routerLink="/catalogo">Ir al catálogo</button>
      </div>
      <div class="info-box">
        <img src="assets/images/contacto.jpg" alt="Contacto">
        <h2>¿Tienes dudas?</h2>
        <p>Contáctanos para más información sobre nuestros productos o servicios.</p>
        <button routerLink="/contacto">Contáctanos</button>
      </div>
    </section>
  </div>
